body{
	font-family: 'Roboto', sans-serif;
	/*background-image: url(img/code-institute.jpg);
 	background-size: cover;
 	color: #ffffff;*/
 	background-color: #eee;
}

h1{
	font-size: 3em;
	text-align: center;
}
h2{
	font-size: 1em;
	text-align: left;
}
p{
	font-size: .9rem;
}

/*p.text{
	background-color: red;
}*/

div{
	border-radius: 4px;
}

.card_image{
	width: 100%;
}
.bottom_button{
	display: flex;
	box-sizing:border-box;
	border-radius: 4px;
	display: block;
	width: 100%;
	background-color:rgba(129, 187, 201,.85);
	text-align: center;
	padding: 1em .75em;
	text-decoration: none;
	color: #fff;

}

.card_bottom{
	display: flex;
	flex-flow:column;
}
.card_head{
	flex:0;
}
.card_para{
	flex:1 0 auto;
}

#container
{
	display: flex;		/* makes container a flexbox*/
	flex-flow: row wrap; 	/* layout the boxes in rows and wrap them*/
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width:1050px;	
}
#logo{
	width: 800px;
	margin: auto;
}

.card{
	flex:1; /* equal widths to cards applied*/
	display: flex;	/* make the contents controllable by flexbox*/
	flex-flow:column;	/* */
	min-width: 240px; /**/
	margin: 10px;
	padding: 20px;
	background-color: #fff;
}
/* adds color red to <p> background when called by jquery function */
/* adds color red to <p> background when called by jquery function 
.highlight_text{
	background-color: #EB5255;
}
*/

/* adds color lightblue to h2 background when called by jquery function */
/* adds color lightblue to h2 background when called by jquery function 
.h2_color{
	background-color: lightblue;
}
*/

/* increases font size of h2 when called by jquery function...but only that particular h2 */
/* increases font size of h2 when called by jquery function...but only that particular h2 
.h2_font_size{
	font-size: 2em;
}
*/

/* we set the stream background-colour when its used in jquery function */
.highlight_stream {
    background-color: #EB5255;                    /* new class */
}

#my_footer{
	width:100%;
	text-align: center;
}
#copyright{
	margin-top:10px;
	margin-bottom:10px;

}

/*************************
Navigation

**************************/

nav{
	font-family: roboto;
	background-color: #eee;
	margin: 30px auto;
	width: 100%;
}
ul{
	display: flex;
	justify-content:space-between;
	flex-flow: row;
	/*flex-flow: row-reverse;*/
	/*justify-content:flex-end;*/
	/*justify-content:space-around;*/
	/*align-items:flex-start;*/
	align-items:baseline;
	border-radius: 10px;
	list-style-type: none; /*Remove Bullets*/
	padding: 0;	
}
li{
	flex:1;    /* makes flex items equal width */
	height: 30px;
	/*width:10%;*/
	/*border:2px solid #000;*/
	/*background-color: #81BBC9;*/
	/*border-radius: 10px;*/
	font-family: Dosis;
	padding:20px 20px 20px 20px;
	text-align: center;
	font-size: 1.3em;
}

#logoNav{
	flex:6;                /* sets logo to larger size */
	text-align: left;
	font-size: 2em;
	font-weight: bold;
}

/* underlines the text */
.underline{
  text-decoration:underline;
}

/* adds a border */
.border{
  border: solid 5px #ccc;
}

/* adds a background-color of pink */            /* new class */
.highlight {
    background-color: pink;
}


/* the importance of this- jquery  .stream-nav*/
/*
.stream-nav {
    cursor: pointer;
}
*/


/* the importance of this .card-highlight */
/*
.card-highlight {
    background-color: rgb(235, 82, 85);
}
*/


@media screen and (max-width: 700px){
	ul{
		flex-flow: column;
		align-items:center;
	}
	li{
		font-size: 2em;
	}
}

